<!DOCTYPE html>
<html lang="en" data-ng-app="AppConvertisseurdedevises">
<head>
<meta charset="UTF-8">
<title>Convertisseur de devises</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/devisesController.js"></script>
</head>
<body data-ng-controller="devisesController as ctrl">
	<h1>Convertisseur de devises</h1>
	<form class=form-inline>
		<input size="5" ng-model="ctrl.what" type="text" class="form-control"/>
		<select data-ng-options="v.code + ' - ' + v.name for (k,v) in ctrl.currencies" data-ng-model="ctrl.from" class="form-control"></select>
		<button type="button" class="btn btn-primary" data-ng-click="ctrl.swap()">	↔</button>
		<select data-ng-options="v.code + ' - ' + v.name for (k,v) in ctrl.currencies" data-ng-model="ctrl.to" class="form-control"></select>
		<button type="button" class="btn btn-primary" data-ng-click="ctrl.getResult()">Convertir</button>
		<input size="10" ng-model="ctrl.result" type="text" class="form-control" disabled/>
		<label><input type="checkbox" ng-model="ctrl.histo"> Historique</label>
		<span ng-show="ctrl.histo">
			<br><br>
			De__ En_ Taux_ Montant Date_______ Delta
			<div data-ng-repeat="conversion in ctrl.historique">
				{{conversion.from}}
				{{conversion.to}}
				{{conversion.rate}}
				{{conversion.what}}
				{{conversion.date | date:'yyyy-MM-dd HH:mm:ss'}}
				{{conversion.delta}}
				<button class="btn btn-primary btn-xs glyphicon glyphicon-refresh" data-ng-click="ctrl.update(conversion)"></button>
				<button class="btn btn-danger btn-xs glyphicon glyphicon-remove-circle" data-ng-click="ctrl.supprimerConversion(conversion)"></button>
			</div>
			<br>
			<button type="button" class="btn btn-primary" data-ng-click="ctrl.historique=[]">Vider l'historique</button>
		</span>
	</form>
</body>
</html>