<!DOCTYPE html>
<html lang="en" data-ng-app="AppGestiondesContacts">
<head>
<meta charset="UTF-8">
<title>Gestion des Contacts</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/contactsController.js"></script>
</head>
<body data-ng-controller="contactsController as ctrl">
	<h1>Contacts</h1>
	<input type="text" ng-model="ctrl.elemFiltre" maxlength="40" size="200" placeholder="Filter..."/>
	<div data-ng-repeat="client in ctrl.clients | noDeleted | recherche : ctrl.elemFiltre">
		<span data-my-client data-type="nom"></span>
		<button class="btn btn-primary btn-xs glyphicon glyphicon-edit" data-ng-click="ctrl.modifierContact(client)"></button>
		<button class="btn btn-danger btn-xs glyphicon glyphicon-remove-circle" data-ng-click="ctrl.supprimerContact(client)"></button>
    </div>
	<br>
    <button class="btn btn-primary ng-binding" data-ng-click="ctrl.frmContact=2">Ajouter...</button>
	<span ng-show="ctrl.afficherboutonannulersuppression">
		<button class="btn btn-danger" data-ng-click="ctrl.restaurerContact()">
			<ng-pluralize count="ctrl.nbcontact(true)"
						  when="{'0': 'Aucun résultat.',
						  'one': 'Annuler la suppression.',
							'other': 'Annuler les suppressions({}).'}">

			</ng-pluralize>
		</button>
	</span>
	<span ng-show="ctrl.frmContact==1">
		<br><br>
		<h4>Modifier un Contact</h4>
		<input type="text" ng-model="ctrl.contactElem.nom" maxlength="40"/>
		<input type="text" ng-model="ctrl.contactElem.prenom" maxlength="40"/>
		<input type="text" ng-model="ctrl.contactElem.mail" maxlength="40"/>
		<button class="btn btn-primary ng-binding" data-ng-click="ctrl.updateContact()">Valider</button>
		<button class="btn btn-primary ng-binding" data-ng-click="ctrl.frmContact=0">Annuler</button>
	</span>
	<span ng-show="ctrl.frmContact==2">
		<br><br>
		<h4>Ajouter un contact</h4>
		<input type="text" ng-model="ctrl.contactElem2.nom" maxlength="40" placeholder="Entrer un nom..."/>
		<input type="text" ng-model="ctrl.contactElem2.prenom" maxlength="40" placeholder="Prénom..."/>
		<input type="text" ng-model="ctrl.contactElem2.mail" maxlength="40" placeholder="Adresse email..."/>
		<button class="btn btn-primary ng-binding" data-ng-click="ctrl.ajouterContact()">Valider</button>
		<button class="btn btn-primary ng-binding" data-ng-click="ctrl.frmContact=0">Annuler</button>
	</span>
	<br><br>
    <ng-pluralize count="ctrl.nbcontact(false)"
					when="{'0': 'Aucun résultat.',
						 'one': '1 contact trouvé.',
						 'other': '{} contacts trouvés.'}">

	</ng-pluralize>
</body>
</html>