<!DOCTYPE html>
<html lang="en" data-ng-app="AppChoixdeServices">
<head>
<meta charset="UTF-8">
<title>Choix de services</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/ChoixdeServices.js"></script>
</head>
<body data-ng-controller="ChoixdeServices as choix">
<h1>Services</h1>
Choisissez les éléments à inclure</br>
{{choix.nbservices()}}
<li ng-repeat="service in choix.services">
 <div>
 	<button class="btn btn-primary ng-binding" ng-click="choix.toggleActive(service)" ng-class="{active:service.active}">
 		{{service['name']}}  {{service['price'] | currency}}
 	</button>
 </div>
</li>
Total à payer : {{choix.total() | currency}}
</body>
</html>